<form method="post" action="{{ path('admin_parteners_delete', {'id': partener.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimet cet élément?');"  style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partener.id) }}">
    <button class="btn btn-xs btn-danger btn-circle"><i class="fa fa-trash"></i></button>
</form>
