{% extends 'admin/base.html.twig' %}

{% block title %} Athlète {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Article concernant les athlètes</h1>

            {{ include('admin/athletes_a_exterieur/_form.html.twig') }}

            <a href="{{ path('admin_athletes_index') }}" class="btn btn-xs btn-primary m-t-lg"><< Retour</a>
        </div>
    </div>
{% endblock %}
