###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/
/public/build/
/public/medel_assets/website/images/
/public/medel_assets/website/img/
/_archiv/
/migrations/
/var/
/vendor/
/tests/
/phpunit.xml.dist/
###< symfony/framework-bundle ###

###Mkombe notes###
/_Notes

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

.idea

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
