<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <a href="" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Ajouter un antécédant</a>
        </div>
        <div class="ibox-content">
            <h1 class="no-margins">Antécédents</h1>

        </div>
    </div>
</div>