<form method="post" action="{{ path('admin_quizzquestion_delete', {'id': quizz_question.id}) }}"
      onsubmit="return confirm('Action irreversible, continuer?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizz_question.id) }}">
    <button class="btn btn-xs btn-primary btn-danger"><i class="fa fa-trash"></i></button>
</form>
