{% extends 'admin/base.html.twig' %}

{% block title %}Question quizz {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Ajouter une question</h1>

            {{ include('admin/quizz_question/_form.html.twig') }}

            <a href="{{ path('admin_quizz_show', {id : quizz.id}) }}" class="btn btn-xs btn-primary m-t-lg"><< Retour</a>
        </div>
    </div>

{% endblock %}
