<form method="post" action="{{ path('admin_quizzcategory_delete', {'id': quizz_category.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizz_category.id) }}">
    <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
</form>
