{% extends 'admin/base.html.twig' %}

{% block title %}Présentation {% endblock %}

{% block body %}
    <h1>Présentation</h1>

    {{ include('admin/presentation_accueil/_form.html.twig') }}

    <a href="{{ path('admin_presentation_accueil_index') }}"><< Retour</a>
{% endblock %}
