{% extends 'admin/base.html.twig' %}

{% block title %}New Ile{% endblock %}

{% block body %}
    <h1>Create new Ile</h1>

    {{ include('admin/ile/_form.html.twig') }}

    <a href="{{ path('admin_ile_index') }}"><< Retour</a>
{% endblock %}
