<form method="post" action="{{ path('admin_evenementcategory_delete', {'id': evenement_category.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de voulir supprimer ce thème?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement_category.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Supprimer</button>
</form>