<form method="post" action="{{ path('admin_evenement_delete', {'id': evenement.id}) }}"
      onsubmit="return confirm('Action irreversible, continuer?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </button>
</form>
