{% extends 'admin/base.html.twig' %}

{% block title %}Modifier Evenement {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Modifier Evenement</h1>

            {{ include('admin/evenement/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a href="{{ path('admin_evenement_index') }}" class="btn btn-xs btn-primary m-t-lg"><< Retour</a>

            <span class="pull-right">{{ include('admin/evenement/_delete_form.html.twig') }}</span>
        </div>
    </div>
{% endblock %}
