{% extends 'admin/base.html.twig' %}

{% block title %}New OptSlidepartener{% endblock %}

{% block body %}
    <h1>Create new OptSlidepartener</h1>

    {{ include('admin/opt_slidepartener/_form.html.twig') }}

    <a href="{{ path('admin_optslidepartener_index') }}"><< Retour</a>
{% endblock %}
